.checkout {
  margin: 50px 0;
}
.checkout .ordersummary {
  width: 45%;
  padding: 0 20px;
  border: 1px solid var(--border_color);
  box-shadow: 0px 8px 10px #c0bfbf44;
  border-radius: 5px;
  margin: 0 auto;
}
.checkout .ordersummary h1 {
  border-bottom: 1px solid var(--border_color);
  padding: 20px 0;
  margin-bottom: 20px;
  color: var(--main_color);
}

.checkout .items {
  height: 350px;
  overflow-y: auto;
}
.checkout .items .item-cart {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  height: 125px;
  border-bottom: 1px solid var(--border_color);
  padding-right: 20px;
}
.checkout .items .item-cart:last-child {
  border-bottom: none;
}
.checkout .items .item-cart .image-name {
  display: flex;
  align-items: center;
  gap: 20px;
}
.checkout .items .item-cart img {
  width: auto;
  height: 80px;
}
.checkout .items .item-cart .img-item {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout .items .item-cart h4 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.checkout .items .item-cart .delete-item {
  outline: none;
  border: none;
  background-color: transparent;
}
.checkout .items .item-cart .delete-item svg {
  font-size: 25px;
  cursor: pointer;
  fill: #e51a1a;
  transition: 0.3s;
}
.checkout .items .item-cart .delete-item:hover svg {
  transform: scale(1.2);
}
.checkout .items .item-cart .quantity-control {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 5px;
}
.checkout .items .item-cart .quantity-control .quantity {
  font-size: 18px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg_color);
  border: 1px solid var(--border_color);
}
.checkout .items .item-cart .quantity-control button {
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  border-radius: 2px;
  border: 1px solid var(--border_color);
}
.checkout .bottom-summary {
  border-top: 1px solid var(--border_color);
  padding-top: 25px;
}
.checkout .bottom-summary .shop-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.checkout .bottom-summary .shop-table p {
  font-size: 20px;
  color: var(--color_heading);
  text-transform: capitalize;
}
.checkout .bottom-summary .shop-table .total-checkout {
  font-size: 20px;
  font-weight: ;
}

.checkout .bottom-summary .button-div {
  border-top: 1px solid var(--border_color);
  padding: 30px 0;
}
.checkout .bottom-summary .button-div button {
  width: 100%;
  padding: 15px 0;
  background-color: var(--main_color);
  color: var(--white_color);
  border: 2px solid var(--main_color);
  outline: none;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.checkout .bottom-summary .button-div button:hover {
  background: transparent;
  color: var(--main_color);
}
