.slide-product {
  padding: 50px 0;
}

.top-slide {
  position: relative;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border_color);
  padding: 15px 20px 20px 0;
}

.top-slide::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100px;
  height: 2px;
  background-color: var(--main_color);
}
.top-slide h2 {
  font-size: 30px;
  color: var(--main_color);
  margin-bottom: 10px;
  text-transform: capitalize;
}
/*product*/

.product {
  width: 250px;
  background: var(--white_color);
  padding: 25px 15px;
  border: 1px solid var(--border_color);
  transition: 0.3s;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-color: var(--main_color);
}

.product .img-product {
  position: relative;
  height: 180px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 30px;
}

.product .img-product img {
  height: 160px;
  width: auto;
}
.product .name-product {
  margin-bottom: 10px;
  color: var(--color_heading);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-transform: capitalize;
}
.product .stars {
  margin: 15px 0;
  display: flex;
  gap: 5px;
}
.product .stars svg {
  fill: #f8d941;
  font-size: 18px;
}
.product .price {
  font-size: 20px;
  font-weight: bold;
}
.product .icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  right: -50px;
  gap: 10px;
  transition: 0.3s;
}
.product:hover .icons {
  right: 20px;
}
.product .icons span {
  width: 40px;
  height: 40px;
  background: var(--bg_color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}
.product .icons span.in-fav {
  background: var(--main_color);
}
.product .icons span.in-fav svg {
  fill: var(--white_color);
}
.product.in-cart .icons .btn-addtocart {
  background-color: var(--main_color);
  pointer-events: none;
}
.product.in-cart .icons .btn-addtocart svg {
  fill: var(--white_color);
}
.product .status-cart {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #253237;
}
.product .status-cart svg {
  fill: rgb(68, 255, 47);
}
.product.in-cart .status-cart {
  top: 10px;
}
.slide-product-loading .top-slide {
  height: 105px;
}
.slide-product-loading .top-slide h2 {
  height: 35px;
  width: 250px;
}
.slide-product-loading .top-slide p {
  height: 25px;
  width: 350px;
}
.product-loading {
  display: flex;
  gap: 30px;
}

.product-loading .content {
  height: 30px;
  margin-bottom: 10px;
}
@media (max-width: 588px) {
  .swiperr {
    display: flex !important;
    justify-content: center !important ;
    align-items: center !important;
    position: absolute;
  }
}
